.rdp-day_selected:not([disabled]),
.rdp-day_selected:focus:not([disabled]),
.rdp-day_selected:active:not([disabled]),
.rdp-day_selected:hover:not([disabled]) {
    background-color: #1d355c;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(5px);
}

/* @keyframes comeInAnimation {
    from {
        opacity: 0.1;
        transform: scale(0.4)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

@keyframes comeOutAnimation {
    from {
        opacity: 1;
        transform: scale(1)
    }

    to {
        opacity: 0.1;
        transform: scale(0.4)
    }
}


.comeIn {
    animation: comeInAnimation 0.2s linear forwards;
}

.comeOut {
    animation: comeOutAnimation 0.2s linear forwards;
} */
