@keyframes comeInAnimation {
    from {
        opacity: 0.1;
        transform: scale(0.4)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

@keyframes comeOutAnimation {
    from {
        opacity: 1;
        transform: scale(1)
    }

    to {
        opacity: 0.1;
        transform: scale(0.4)
    }
}


.comeIn {
    animation: comeInAnimation 0.2s linear forwards;
}

.comeOut {
    animation: comeOutAnimation 0.2s linear forwards;
}